ASSIGNMENT 1

1. Program to display the details of student to display name,rollnumber,mark and display it.

In [ ]:

import math
Name=input('Enter the name')
Rollnumber=int(input('Enter the roll number'))
Mark=int(input('Enter the mark'))
print("Name :" , Name)
print("Roll number :",Rollnumber)
print("Mark :" ,Mark)

Enter the nameAnisha
Enter the roll number21
Enter the mark78
Name : Anisha
Roll number : 21
Mark : 78

2. Program to convert temperature to and from celsius to farenheit

In [ ]:
import math
fahrenheit=int(input('Enter the temperature in Fahrenheit ='))
celsius=5*(fahrenheit-32)/9
print('Temperature in celsius =',celsius)

Enter the temperature in Fahrenheit =41
Temperature in celsius = 5.0

3 . Program to accept two numbers from user and display its product

In [ ]:
import math
a=int(input('Enter a number'))
b=int(input('Enter a number'))
product=a*b
print('Product of two numbers =',product)

Enter a number4
Enter a number7
Product of two numbers = 28

4 . Program to accept a string “Learn Python by Developing a
Website” and display the string like "Learn **Python by Developing a **website*
*.

In [ ]:
print("Learn Python by Developing a Website")
str1="**"

print("Learn"+str1+"Python"+str1+"by"+" Developing "+" a "+str1+"Website" +str1)

Learn Python by Developing a Website
Learn**Python**by Developing  a **Website**

5 .Program to accept the radius of the circle and display its area

In [ ]:
import math
r=int(input("Enter the radius of the circle = "))
area=math.pi*r**2
print('area of a circle=',area)

Enter the radius of the circle = 5
area of a circle= 78.53981633974483

6 . Program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [ ]:
num_list = [1, 2, 3, 4, 5]

print(f'Current Numbers List {num_list}')

num = int(input("Please enter a number to add to list:\n"))

index = int(input(f'Please enter the index between 0 and {len(num_list) - 1} to add the number:\n'))

num_list.insert(index, num)

print(f'Updated Numbers List {num_list}')

Current Numbers List [1, 2, 3, 4, 5]
Please enter a number to add to list:
7
Please enter the index between 0 and 4 to add the number:
3
Updated Numbers List [1, 2, 3, 7, 4, 5]

7 .Program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [ ]:
sample_dict={"name": "John", "age":5, "salary": 8000, "city": "New York"}
sample_dict["place"]=sample_dict.pop("city")
sample_dict

{'name': 'John', 'age': 5, 'salary': 8000, 'place': 'New York'}

8.  Python program to change Brad’s salary to 8500 in the following dictionary.
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [ ]:
sample_dict ={
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
s2={
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 8500}
}
sample_dict.update(s2)


print(s2)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

9.  Program to copy elements 43 and 54 from the following tuple into a new tuple. Given:
tuple1 = (10, 20, 43, 54, 56, 68)

In [ ]:
tuple1=(10,20,43,54,56,68)
t3=tuple1[2]
t4=tuple1[3]
tuplenew=[t3,t4]
tuplenew

[43, 54]

10.  Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [ ]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
t1=tuple1.count(50)
print("Number of occurence of 50") 
t1

Number of occurence of 50

3