In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\jerrin cherub\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\jerrin cherub\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [1]:
import mysql.connector

In [ ]:
mydb=mysql.connector.connect(
      host = "localhost",
      user = "root",
      password ="",
      database ="ems"
)
def insert_emp(emp_id,emp_name,emp_salary,emp_dept,email):
    cursor=mydb.cursor()
    query="INSERT INTO EMPLOYEE(emp_id,emp_name,emp_salary,emp_dept,email) VALUES (%s ,%s , %s,%s,%s)"
    values=(emp_id,emp_name,emp_salary,emp_dept,email)
    cursor.execute(query,values)
    result=cursor.fetchall()
    mydb.commit()
    print("Employee added sucessfully")
    cursor.close()
def update_emp(emp_id,emp_salary):
    cursor = mydb.cursor()
    query="UPDATE EMPLOYEE SET EMP_DEPT='IT' WHERE EMP_ID= %s OR EMP_SALARY=%s"
    value=(emp_id,emp_salary)
    cursor.execute(query,value)
    mydb.commit()
    result=cursor.fetchall()
    print("Record affected")
    cursor.close()
def delete_emp(emp_id,emp_name):
    cursor = mydb.cursor()
    query=" DELETE FROM EMPLOYEE WHERE EMP_ID= %s AND EMP_NAME= %s"
    value=(emp_id,emp_name)
    cursor.execute(query,value)
    mydb.commit()
    result=cursor.fetchall()
    print("Record affected")
    cursor.close()
def list_employee():
    cursor = mydb.cursor()
    query=" SELECT * FROM  EMPLOYEE"
    cursor.execute(query)
    rows=cursor.fetchall()
    for row in rows:
        print(row)
    cursor.close()
def sort_employee():
    cursor = mydb.cursor()
    query=" SELECT * FROM  EMPLOYEE ORDER BY EMP_DEPT AND EMP_SALARY"
    cursor.execute(query)
    rows=cursor.fetchall()
    for row in rows:
        print(row)
    cursor.close()
def sort_employee():
    cursor = mydb.cursor()
    query=" SELECT * FROM  EMPLOYEE ORDER BY EMP_SALARY "
    cursor.execute(query)
    rows=cursor.fetchall()
    for row in rows:
        print(row)
    cursor.close()
def filter_employee():
    cursor = mydb.cursor()
    query=" SELECT * FROM EMPLOYEE WHERE EMP_DEPT='IT' "
    cursor.execute(query)
    rows=cursor.fetchall()
    for row in rows:
        print(row)
    cursor.close()
if __name__=="__main__":
    while True:
        print("CRUD FUNCTIONALITY")
        print("1. INSERT")
        print("2. UPDATE")
        print("3. DELETE")
        print("4. LIST")
        print("5. SORT")
        print("6. FILTER")
        ch=int(input("Enter your choice"))
        if ch==1:
            emp_id=input("Enter ID ")
            emp_name=input("Enter the employee name ")
            emp_salary=float(input("Enter employee salary "))
            emp_dept=input("Enter employee department  ")
            email=input("Enter email address ")
            insert_emp(emp_id,emp_name,emp_salary,emp_dept,email)
        elif ch==2:
            emp_id=input("Enter the employee id ")
            emp_salary=float(input("Enter employee salary "))
            update_emp(emp_id,emp_salary)
        elif ch==3:
            emp_id=input("Enter the id ")
            emp_name=input("Enter the employee name ")
            delete_emp(emp_id,emp_name)
        elif ch==4:
            list_employee()
        elif ch==5:
            sort_employee()
        elif ch==6:
            filter_employee()
            
        else:
            print("Invalid choice Pls try again")
mydb.close()

CRUD FUNCTIONALITY
1. INSERT
2. UPDATE
3. DELETE
4. LIST
5. SORT
6. FILTER
Enter your choice1
Enter ID 7
Enter the employee name HENNA
Enter employee salary 30600.00
Enter employee department  IT
Enter email address HEA@GMAIL
Employee added sucessfully
CRUD FUNCTIONALITY
1. INSERT
2. UPDATE
3. DELETE
4. LIST
5. SORT
6. FILTER
Enter your choice2
Enter the employee id 3
Enter employee salary 15000.00
Record affected
CRUD FUNCTIONALITY
1. INSERT
2. UPDATE
3. DELETE
4. LIST
5. SORT
6. FILTER
Enter your choice3
Enter the id 8
Enter the employee name JOSHUA
Record affected
CRUD FUNCTIONALITY
1. INSERT
2. UPDATE
3. DELETE
4. LIST
5. SORT
6. FILTER
Enter your choice4
(1, 'JOHN', Decimal('50000.00'), 'IT', 'SSS@GMAIL')
(2, 'JOANNA', Decimal('60000.00'), 'HR', 'ABC@GMAIL')
(3, 'JOBY', Decimal('15000.00'), 'IT', 'ABC@GMAIL')
(4, 'HARI', Decimal('76000.00'), 'IT', 'HARI@GMAIL')
(5, 'DEVI', Decimal('80000.00'), 'HR', 'AAK@GMAIL')
(6, 'ANNA', Decimal('90000.00'), 'HR', 'ANNA@GMAIL')
(7, 'HENNA', Decimal('30600.00'), 'IT', 'HEA@GMAIL')
(9, 'SHREYA', Decimal('54000.00'), 'HR', 'SSH@GMAIL')
CRUD FUNCTIONALITY
1. INSERT
2. UPDATE
3. DELETE
4. LIST
5. SORT
6. FILTER
Enter your choice5
(3, 'JOBY', Decimal('15000.00'), 'IT', 'ABC@GMAIL')
(7, 'HENNA', Decimal('30600.00'), 'IT', 'HEA@GMAIL')
(1, 'JOHN', Decimal('50000.00'), 'IT', 'SSS@GMAIL')
(9, 'SHREYA', Decimal('54000.00'), 'HR', 'SSH@GMAIL')
(2, 'JOANNA', Decimal('60000.00'), 'HR', 'ABC@GMAIL')
(4, 'HARI', Decimal('76000.00'), 'IT', 'HARI@GMAIL')
(5, 'DEVI', Decimal('80000.00'), 'HR', 'AAK@GMAIL')
(6, 'ANNA', Decimal('90000.00'), 'HR', 'ANNA@GMAIL')
CRUD FUNCTIONALITY
1. INSERT
2. UPDATE
3. DELETE
4. LIST
5. SORT
6. FILTER
Enter your choice6
(1, 'JOHN', Decimal('50000.00'), 'IT', 'SSS@GMAIL')
(3, 'JOBY', Decimal('15000.00'), 'IT', 'ABC@GMAIL')
(4, 'HARI', Decimal('76000.00'), 'IT', 'HARI@GMAIL')
(7, 'HENNA', Decimal('30600.00'), 'IT', 'HEA@GMAIL')
CRUD FUNCTIONALITY
1. INSERT
2. UPDATE
3. DELETE
4. LIST
5. SORT
6. FILTER
Enter your choice8
Invalid choice Pls try again
CRUD FUNCTIONALITY
1. INSERT
2. UPDATE
3. DELETE
4. LIST
5. SORT
6. FILTER